[color]
	ui = auto
[user]
	name = Jung-joon Kim
	email = jungjoon@gmail.com
[alias]
    st = status
    co = checkout
    br = branch
    df = diff
    gl = log --graph --date-order -C -M --pretty=format:\"<%h>%x09%ad%x09%an:%x09%Cgreen%s%Creset%Cred%d%Creset\" --date=relative
    gla = !git log --graph --date-order -C -M --pretty=format:\"<%h>%x09%ad%x09%an:%x09%s%Cgreen%d%Creset\" --date=relative --all | egrep --color 'HEAD|'
